<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/harrikrishna/SpeakerActive/releases/download/v2.0.0/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>z+JGTO/fCBw73tWXI443rGeFHSOfoR5WYdlEd2MmZag=</string>
</dict>
</plist>
